<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

	<div id="fullscreen" class="justify-content-center">
		<div class="{% if page.max_width or layout.max_width %}max_width{% endif %}">
			{{ content }}
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			document.querySelectorAll("a[data-toggle='popover']").forEach(function (element) {
				new bootstrap.Popover(element);
			});
		});
	</script>
</body>

</html>

<style>
	#fullscreen {
		margin: 24px;
	}
</style>